<style>

#Filler{}
body {
    background-color: turquoise;
}

#navi {
   line-height:30px;
   background-color:#eeeeee;
   height:250px;
   width:110px;
   float:left;
   padding:5px;	     
}
#topBar {
   background-color:Aqua;
   color:white;
   text-align:center;
   padding:5px;	
}
article{
	background-color:lightBlue;
   width:50%;
   height:30%;
   left: 10%;
   bottom: 80%;
   float:left;
   padding:30px;	
	margin-bottom: 10px; 
	margin-left: 10px; 
	margin-right: 10px; 
    	
}
footer {
   background-color:Aqua;
   color:white;
   clear:both;
   text-align:center;	
   width: 100%;
   bottom: 0;
   position: fixed;
}
</style>

