<style>

#Filler{}
body {
    background-color: turquoise;
    padding:0px;
}

#login{
   color:black;
   background-color:lightblue;
   padding: 10px 10px 10px 10px;
   width: 200px;
   height: 130px;
   position: absolute;
   top: 40%;
   left: 40%;
   margin-left: -(50)px;
   margin-top: -(50)px;
   
}
#navi {
   line-height:30px;
   background-color:#eeeeee;
   height:160px;
   width:110px;
   float:left;
   padding:5px;	   
   margin-top:1%;  
   visibility:hidden;
}
#topBar {
   background-color:Aqua;
   color:white;
   text-align:center;
   padding:5px;	
   margin-bottom:1%;
}

#post{
	background-color:lightBlue;
	padding: 10px;
	position:relative;
    width:40%;
    float:left;
    text-align:left;
	margin-top: 1%; 
	margin-left: 10%;
	visibility:hidden; 
    	
}
footer {
   background-color:Aqua;
   color:white;
   clear:both;
   text-align:center;	
   width: 100%;
   bottom: 0;
   position: fixed;
}
</style>

